@charset "UTF-8";

:root {
    --cor1: #0A0310;
    --cor2:#49007E;
    --cor3:#FF005B;
    --cor4: #FF7D10;
    --cor5: #FFB238;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

* { /*coniguração global*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FF005B;
    font-family: var(--font-padrao);
}

header {
    background-color: #49007E;
    min-height: 180px;
    text-align: center;
    padding-top: 50px;
}

header > h1 {
    color: white;
    font-family: var(--font-padrao);
    padding-top: 25px;
    font-size: 60px;
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 20px;
}

nav {
    background-color: var(--cor4);
    padding: 15px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.443);
}

nav > a {
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor5);
    color: var(--cor1);
}

section {
    min-width: 300px;
    max-width: 1050px;
    margin: auto; /*centralizar tamanho automaticamente*/
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.424);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section > h1 {
    font-family: var(--font-padrao);
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin: 0px 15px;
}

section > p {
    font-family: var(--font-padrao);
    text-align: justify;
    font-size: 1.3em;
    font-weight: normal;
    margin: 15px;
}

form {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.461);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF7D10;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #FFB238;
}

footer {
    background-color: #49007E;
    color: white;
    font-family: var(--font-padrao);
    text-align: center;
    font-size: 0.8em;
    padding: 40px;
}
